@media screen and (orientation: landscape) {
  ul.title-buttons {
    justify-content: start !important;
  }
}

ul.title-buttons {
  list-style-type: none;
  padding: 0;
}

li.title-button {
  padding: 0 0.5rem 0 0 !important;
}

li.contact-title-button {
  padding: 2rem 0.5rem 0 0 !important;
}

.background-white {
  background-color: white;
}

.scroll-behavior-smooth {
  scroll-behavior: smooth;
}

.carousel-control-prev,
.carousel-control-next {
  height: 100% !important;
  box-shadow: none !important;
}

.project-button {
  flex: 1;
}

.carousel-control-next.dark,
.carousel-control-prev.dark {
  filter: invert(100%);
}
